@model WebApp.Models.Cuota

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cuota</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PrestamoAprobadoId" class="control-label"></label>
                <select asp-for="PrestamoAprobadoId" class ="form-control" asp-items="ViewBag.PrestamoAprobadoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NumeroCuota" class="control-label"></label>
                <input asp-for="NumeroCuota" class="form-control" />
                <span asp-validation-for="NumeroCuota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaVencimiento" class="control-label"></label>
                <input asp-for="FechaVencimiento" class="form-control" />
                <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoCapital" class="control-label"></label>
                <input asp-for="MontoCapital" class="form-control" />
                <span asp-validation-for="MontoCapital" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoInteres" class="control-label"></label>
                <input asp-for="MontoInteres" class="form-control" />
                <span asp-validation-for="MontoInteres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoGastos" class="control-label"></label>
                <input asp-for="MontoGastos" class="form-control" />
                <span asp-validation-for="MontoGastos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoSeguros" class="control-label"></label>
                <input asp-for="MontoSeguros" class="form-control" />
                <span asp-validation-for="MontoSeguros" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="MontoTotalCuota" class="control-label"></label>
                <input asp-for="MontoTotalCuota" class="form-control" />
                <span asp-validation-for="MontoTotalCuota" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="UrlDocumento" class="control-label"></label>
                <input asp-for="UrlDocumento" class="form-control" />
                <span asp-validation-for="UrlDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
